.div1{
    width: 180px;
    height: 200px;
    top: 100px;
    left: 100px;
    position: absolute;
    background: url("../img/img_1.png");
}
.div2{
    width: 140px;
    position: relative;
    left: 15px;
    top: 42px;
}
.text1{
    width: 140px;
    text-align: right;/*将文本框内的文字右对齐*/
    background-color: white;/*默认的不可选中版的文本框是灰色的，这是要将其设置为白色*/
}
.div3{
    width: 160px;
    height: 116px;
    position: relative;
    left: 15px;
    top: 50px;
}
/*属性选择器：将所有该类型的标签都选中一起设置*/
input[type="button"]{
    width: 30px;
    margin-right: 5px;
    border-radius: 10px;
    background: goldenrod;
}
/*使用伪类选择器改变悬浮时的颜色变化*/
input[type="button"]:hover{
    /*让颜色变化的是background-color，而不是单纯的color*/
    background-color: cornflowerblue;
    border: 2px solid;
}